.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}

header {
  margin-bottom: 2rem;
}

main {
  width: 100%;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  .card {
    padding: 1.5rem;
    margin: 1rem;
  }
}